<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Docto
                Consultations</a>
        </div>
        <h2 style="font-size:1.6em;">Hi, <b>{{ user|upper }}</b></h2>
        <p>Thank you for choosing Docto consultations. Your Slot is Successfully Booked!</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
            Doctor: {{doctor}} </h2>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
            Patient: {{patient}}</h2>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
            Slot timing: {{time}}</h2>
        <p style="font-size:0.9em;">Regards,<br/>Docto consultations</p>
        <hr style="border:none;border-top:1px solid #eee"/>
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>Docto Inc</p>
            <p>Lanetteam</p>
            <p>Surat</p>
        </div>
    </div>
</div>